<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Branchesi AI</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">This is a small portal hub to various AI and other projects I am working on.  </p>
  <p class="leading-8 text-lg text-pretty text-zinc-400"></p>
</section>