<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">Desarrollador web apasionado por crear experiencias digitales de alto impacto. Mi enfoque combina la <strong class="text-zinc-100 font-medium">atención al detalle</strong> con una <strong class="text-zinc-100 font-medium">búsqueda constante de soluciones elegantes</strong>.</p>
  <p class="leading-8 text-lg text-pretty text-zinc-400">Actualmente, estoy profundizando mis conocimientos en desarrollo de software, expandiendo mis habilidades desde el frontend hacia una <strong class="text-zinc-100 font-medium">perspectiva fullstack.</strong></p>
</section>