---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
import Linkedin from "@assets/icons/linkedin.astro"
import Record from "@assets/icons/record.astro"
---

<nav class="w-full flex justify-between items-center">
  <span class="text-xl">@yarsrvenge</span>
  <div class="flex gap-3 items-center">
    <ContainerHover link="mailto:gus.branchesi@gmail.com" alt="Email">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/yarsrvenge" alt="Github">
      <Github />
    </ContainerHover>
    <ContainerHover link="https://www.linkedin.com/in/gusbranchesi/" alt="LinkedIn">
      <Linkedin />
    </ContainerHover>
    <ContainerHover link="https://www.linkedin.com/in/gusbranchesi/" alt="BlueSky">
      <bluesky />
    </ContainerHover>    
    <ContainerHover link="https://www.discogs.com/user/gus.branchesi/collection" alt="Record Collection">
      <Record />
    </ContainerHover>    
  </div>
</nav>
