---
import Github from "@assets/icons/github.astro"
import Email from "@assets/icons/email.astro"
import ContainerHover from "@components/ContainerHover.astro"
---

<nav class="w-full flex justify-between items-center">
  <span class="text-xl">@garaven</span>
  <div class="flex gap-3 items-center">
    <ContainerHover link="mailto:garaven.camilo@gmail.com">
      <Email />
    </ContainerHover>
    <ContainerHover link="https://github.com/garaven/portfolio">
      <Github />
    </ContainerHover>

    <!-- Comming soon -->
    <!-- <div class="flex items-center gap-1 hover:bg-zinc-800 hover:border-zinc-600 border border-transparent rounded-md transition relative">
      <span class="text-zinc-400 absolute pointer-events-none left-2">
        <Language />
      </span>
      <select class="text-lg bg-transparent focus:outline-none hover:cursor-pointer p-2 pl-8" name="select" id="language">
        <option class="text-black" selected value="en">English</option>
        <option class="text-black" value="es">Spanish</option>
      </select>
    </div> -->
  </div>
</nav>