---
import ProjectCard from '@components/ProjectCard.astro'
import Typescript from '@assets/icons/typescript.astro';
import React from '@assets/icons/react.astro';
import Supabase from '@assets/icons/supabase.astro';
import Tailwind from '@assets/icons/tailwind.astro';
import Docker from '@assets/icons/docker.astro';
import Swift from '@assets/icons/swift.astro';
import Pyton from '@assets/icons/python.astro';
import Streamlit from '@assets/icons/streamlit.astro';
import CSharp from '@assets/icons/csharp.astro';
import Unity from '@assets/icons/unity.astro';
import CLang from '@assets/icons/c.astro';
import Xcode from '@assets/icons/xcode.astro';
import Objc from '@assets/icons/objc.astro';
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="AI" projectDescription="This is a local AI instance that uses open source AI libraries and does not require ChatGPT.  Showcases some agentic AI workflows I have created.  Private Area: Requires a login to access." projectLink="https://branchesi-ai.up.railway.app" image="/images/ai.png">
    <React />
    <Docker />
    <Pyton />
  </ProjectCard>

  <ProjectCard projectTitle="Uberlaufer" projectDescription="Uberlaufer is a Virtual Reality game I wrote for PCVR systems.  It's a roguelike dungeon crawler set in WW2.  It utilizes AI generated faces to represent a random character each time the dungeon begins." projectLink="https:/www.uberlaufer.com" image="/images/uberlaufer.png">
    <Unity />
    <CSharp />
  </ProjectCard>

  <ProjectCard projectTitle="Doom for Apple TV" projectDescription="A fork of Doom I created for the AppleTV.  This was the first open source code for an Apple TV version." projectLink="https://github.com/yarsrvenge/DOOM-IOS2" image="/images/doom.png">
    <Xcode />
    <Objc />
    <CLang />
  </ProjectCard>
</section>